@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');
:root {
    --black: #000;
    --red: #f00;
    --darkred: #8b0000;
    --hover-red: #610303;
    --white: #fff;
    --darkgray: #565656;
    --blue: #0E34A0;
    --darkblue: #1a1f2d;
}

* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--darkblue);
}

h2 {
    font-size: 180%;
    letter-spacing: 2px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

hr {
    width: 10%;
    margin: 0 auto;
}

a:link, a:visited {
    color: var(--white);
}

.white-text {
    color: var(--white);
}

.darkblue-text {
    color: var(--darkblue);
}

.grid {
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 10px;
}

#logo {
    margin-left: 15px;
    font-size: 360%;
    text-shadow: 0 0 7px var(--darkblue), 0 0 10px var(--white), 0 0 21px var(--white), 0 0 42px var(--darkblue), 0 0 82px var(--darkblue), 0 0 92px var(--darkblue), 0 0 102px var(--darkblue), 0 0 151px var(--darkblue);
}

#logo {
    font-weight: bold;
    margin: 0;
    padding: 10px;
}

#logo span {
    color: var(--white);
}

#logo .darkblue {
    color: var(--darkblue);
}

#logo .red {
    color: var(--red);
}

#menu>li {
    padding: 5px;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: all .8s;
}

#nav {
    padding: 0 10px;
    justify-content: space-around;
    align-items: center;
}

#nav, #menu {
    display: flex;
    flex-direction: row;
}

#menu a {
    font-size: 100%;
    letter-spacing: 1px;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

#menu a:hover {
    background-color: var(--white);
    color: var(--darkblue);
    text-decoration: underline;
}

#link-home {
    text-decoration: none;
}

#link-home:hover {
    text-decoration: none;
}

#responsive-menu-btn {
    background-color: transparent;
    border: none;
    color: var(--white);
    font-size: 36px;
    position: absolute;
    right: 15px;
    top: 35px;
    display: none;
}

#responsive-menu-btn:focus~ul {
    height: 260px;
    background-color: rgba(0, 0, 0, 0.3)
}

.dotted-line {
    border-bottom: 1px dotted var(--white);
    width: 80%;
    margin: 0 auto;
}

#main-image {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.98) 10%, rgba(0, 0, 0, 0)), url('../img/brazilian-jiu-jitsu.jpg');
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 100vh;
}

#main-title {
    font-size: 180%;
    color: var(--white);
    text-transform: uppercase;
    padding: 100px 0;
}

#main-title h3 {
    font-size: 90%;
    font-weight: normal;
    width: 60%;
}

.button {
    display: inline-flex;
    flex-direction: row;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 90%;
    color: var(--white);
    cursor: pointer;
    border: none;
    text-transform: capitalize;
}

.button-1 {
    background-color: var(--darkblue);
    padding: 15px 20px;
    border-radius: 5px;
    margin: 15px 15px 0 0;
}

.button-1 > a:hover {
    text-decoration: none;
}

.button-1:hover {
    background-color: rgba(41, 38, 38, 0.8);
}

.button-2 {
    background-color: var(--darkred);
    padding: 15px 20px;
    border-radius: 5px;
    margin: 15px 15px 0 0;
}

.button-2 > a:hover {
    text-decoration: none;
}

.button-2:hover {
    background-color: var(--hover-red);
}

.darkgray-section {
    background-color: var(--darkgray);
    width: 100%;
    height: auto;
    min-height: 100vh;
}

.white-section {
    background-color: var(--white);
    width: 100%;
    height: auto;
    min-height: 100vh;
}

.darkblue-section {
    background-color: var(--darkblue);
    width: 100%;
    height: auto;
    min-height: 100vh;
}

.title {
    text-align: center;
    padding: 50px 0 5px;
}

.grid p {
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;
}

#last-paragraph {
    margin-bottom: 30px;
}

.center-container {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    padding: 30px;
    border: 1px solid var(--darkgray);
    margin: 30px auto;
}

.center-image {
    background: url("../img/coach.jpg") no-repeat center top;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

.white-section hr {
    border-bottom: 1px dotted var(--darkblue);
}

.darkblue-section hr {
    border-bottom: 1px dotted var(--white);
}

.darkgray-section hr {
    border-bottom: 1px dotted var(--white);
}

.card-classes {
    width: 100%;
    margin: 20px auto;
}

.card-classes img {
    width: 100%;
    height: 200px;
}

.caption {
    position: relative;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    text-align: center;
    font-size: 110%;
}

.caption::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}

.caption:hover::before {
    background: rgba(0, 0, 0, .8);
}

.caption__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.caption__overlay {
    position: absolute;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: var(--white);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
}

.caption:hover .caption__overlay {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.caption:hover .caption__overlay__title {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.pricing {
    text-align: center;
    font-size: 160%;
    background: var(--white);
    height: auto;
    max-height: 100%;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    transform: scale(1);
    transition: .2s ease all;
    overflow: hidden;
    cursor: pointer;
}

.pricing:hover {
    transform: scale(1.05);
}

.pricing-content {
    color: var(--black);
    letter-spacing: 1px;
}

.pricing-content span {
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px dotted var(--darkblue);
}

.pricing-content span i {
    color: var(--red);
}

.pricing h3 {
    padding: 20px 0;
    font-size: 180%;
    background-color: var(--darkblue);
    color: var(--white);
}

.pricing-content ul {
    list-style-type: none;
    line-height: 40px;
    margin: 20px 0;
    padding: 0 20px;
    font-size: 70%;
}

.pricing input[type="submit"] {
    background-color: var(--darkred);
    color: var(--white);
    font-family: 'Oswald', sans-serif;
    font-size: 80%;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
    margin: 10px auto;
    width: auto;
    cursor: pointer;
}

#gallery {
    clear: both;
    height: 100%;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#gallery h2 {
    display: none;
}

.gallery-image {
    overflow: hidden;
}

.gallery-image>img {
    width: 100%;
    transform: scale(1);
    transition: .2s ease all;
    overflow: hidden;
    cursor: pointer;
}

.gallery-image>img:hover {
    transform: scale(1.1);
}

#background-form {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../img/cover.jpg');
    background-attachment: fixed;
    background-size: cover;
    width: auto;
    height: auto;
    min-height: 100vh;
    opacity: 0.95;
}

#form {
    width: auto;
    max-width: 540px;
    margin: 10px auto;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1);
}

input[type="submit"] {
    background-color: var(--darkred);
    color: var(--white);
    font-family: 'Oswald', sans-serif;
    font-size: 110%;
    font-weight: bold;
    padding: 15px 40px;
    border-radius: 5px;
    border: none;
    margin-right: 15px;
    margin-top: 16px;
    width: 100%;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #610303;
}

input[type="text"], input[type="email"], #select-field {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid var(--darkblue);
    border-radius: 3px;
    font-size: 1em;
    font-weight: bold;
    color: var(--darkblue);
}

input[type="text"]:hover, input[type="email"]:hover, #select-field:hover {
    border: 1px solid var(--red);
}

#radio {
    padding: 15px 0;
}

.title span {
    text-transform: uppercase;
    text-decoration: underline;
}

#required {
    font-size: 0.7em;
    text-decoration: underline;
}

#footer {
    clear: both;
    text-align: center;
    color: var(--white);
    font-weight: 700;
    padding: 20px;
    background-color: var(--darkblue);
}

.fa-heart {
    color: var(--red);
}

.back-to-top {
    font-size: 100%;
}

.back-to-top:hover {
    text-decoration: underline;
}

#video {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 400px;
    margin: 10px auto;
}

@media screen and (max-width: 768px) {
    #nav, #menu {
        flex-direction: column;
    }
    #menu {
        text-align: center;
        margin: 0;
        height: 0;
    }
    #nav {
        padding: 0;
        align-items: flex-start;
    }
    #logo {
        margin: 0 0 0 20px;
    }
    #responsive-menu-btn {
        display: flex;
    }
    #menu, li {
        width: 100%;
    }
    #menu>li {
        padding: 10px;
    }
    .button {
        flex-direction: column;
    }
    #gallery {
        column-count: 2;
    }
}

@media screen and (max-width: 425px) {
    #gallery {
        column-count: 1;
    }
}